<div id="form-container">
  <div class="form-header">
    <a class="waves-effect waves-red btn-flat" href="/staffs">x</a>
    <p class="form-title"> <%= @staff.id ? 'Edit Staff Member' : 'Add Staff Member' %></p>
    <div>
      <% if @staff.id.present? %>
        <%= link_to 'Delete', client_path(id: @staff.id),
                    data: {:confirm => 'Are you sure?'}, class: 'waves-effect waves-red btn-flat red-text', :method => :delete %>
      <% end %>
      <a class="waves-effect waves-blue btn" onclick="submitStaff();">Save</a>
    </div>

  </div>
  <div id="staff-form">
    <%= form_with(model: @staff, html: {class: 'height-100'}) do |f| %>
      <div class=" p-8 m-8">
        <% if @staff.errors.full_messages.any? %>
          <div class="p-4">
            <p class="red-text"> Please check the following errors and Save again</p>
            <ul class="collection">
              <% @staff.errors.full_messages.map do |msg| %>
                <li class="red-text collection-item"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-field col s6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :phone %>
            <%= f.text_field :phone %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field width-100">
            <label> Appointment Color </label>
            <br>
            <br>
            <% colors_options.map do |color| %>
              <p class="color-container" style="background-color: <%= color %>; border-color: <%= color %>; ">
                <label>
                  <input name="staff[booking_color]" type="checkbox" class="" value="<%= color %>" <%= 'checked' if f.object&.booking_color == color %>/>
                  <span></span>
                </label>
              </p>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <div class="switch">
              <label>
                <%= f.check_box :booking_enabled %>
                <span class="lever"></span>
                Booking Enabled
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="left-border"></div>
      <div class=" p-8 m-8">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Details</a></li>
          <li class="tab col s3"><a href="#test2">Locations</a></li>
          <li class="tab col s3"><a href="#test3">Services</a></li>
          <li class="tab col s3"><a href="#test4">Commissions</a></li>
        </ul>
        <div id="test1" class="col s12 mt-4">
          <div class="row">
            <div class="col s12 ">
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :title %>
                  <%= f.label :title %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :notes %>
                  <%= f.label :notes %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">perm_contact_calendar</i>
                  <%= f.text_field :contract_start, class: 'datepicker' %>
                  <%= f.label :contract_start %>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">perm_contact_calendar</i>
                  <%= f.text_field :contract_end, class: 'datepicker' %>
                  <%= f.label :contract_end %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">person_add</i>
                  <%= f.label :avatar %>
                  <%= f.file_field :avatar %>
                </div>
                <div class="input-field col s6">
                  <label>Current Avatar</label>
                  <img src="<%= url_for(f.object.avatar) %>" width="100%;">
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div id="test2" class="col s12  mt-4">
          <div class="row">
            <div class="col s12">
              <div class="input-field width-100">
                <div id=location-options-container>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" id="select_all_locations"  />
                      <span>Select All</span>
                    </label>
                  </p>
                  <% @locations.map do |location|%>
                    <p class="">
                      <label>
                        <input name="staff[location_ids][]"
                               type="checkbox"
                               class="filled-in location-option"
                               value="<%= location.id %>"
                               <%= 'checked' if  f.object.location_ids.include?(location.id) %>
                          />
                        <span><%= location.name %></span>
                      </label>
                    </p>
                  <% end  %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="test3" class="col s12  mt-4">
          <div class="row">
            <div class="col s12">
              <div class="input-field width-100">
                <div id=staff-options-container>
                  <p>
                    <label>
                      <input type="checkbox" class="filled-in" id="select_all"  />
                      <span>Select All</span>
                    </label>
                  </p>
                  <% @service_prices.map do |service_price|%>
                    <p class="">
                      <label>
                        <input name="staff[service_ids][]"
                               type="checkbox"
                               class="filled-in staff-option"
                               value="<%= service_price.id %>"
                               <%= 'checked' if  f.object.service_ids.include?(service_price.id) %>
                          />
                        <span><%= service_price.name %></span>
                      </label>
                    </p>
                  <% end  %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="test4" class="col s12  mt-4">
          <div class="row">
            <div class="col s12 ">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">%</i>
                  <%= f.number_field :product_comm, min: 0 %>
                  <%= f.label :product_comm %>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">%</i>
                  <%= f.number_field :service_comm, min: 0 %>
                  <%= f.label :service_comm %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    function submitStaff() {
        $("#staff-form form").submit();
    }
    $(document).on('turbolinks:load', function () {
        $("#select_all").change(function(){
            $("input.staff-option").prop('checked', $(this).is(":checked"))
        })
        $("#select_all_locations").change(function(){
            $("input.location-option").prop('checked', $(this).is(":checked"))
        })
        
        setTimeout(function(){
          $(".color-container input").change(function(){
              console.log('clicked');
              if ($(this).is(":checked")){
                  $(this).parents(".input-field").find('input').prop('checked', false);
                  $(this).prop('checked', true)
              }
          })
        }, 50)
    })
</script>
    