<div class="form-header">
  <a class="waves-effect waves-teal btn-flat" href="/services">x</a>
  <p class="form-title"> <%= @service.id ? 'Edit Service' : 'Add Service' %></p>
  <div>
    <% if @service.id.present? %>
      <%= link_to 'Delete', service_path(id: @service.id),
                  data: {:confirm => 'Are you sure?', class: 'waves-effect waves-blue btn-flat red-text'}, :method => :delete%>
    <% end  %>
    <a class="waves-effect waves-blue btn" onclick="submitForm();">Save</a>
  </div>

</div>
<div class="form-wrapper height-100 pink-bg" id="service-form" >
  <div class="row">
    <div class="col s6 push-s3">
      <%= form_with(model: @service) do |f| %>
        <div class="card p-4">
          <h5>Basic Info</h5>
          <p>Add a service name and choose the treatment type</p>
          <div class="divider"></div>
          <div class="input-field width-100">
            <%= f.text_field :name, required: true %>
            <%= f.label :name %>
          </div>
          <div class="input-field width-100">
            <%= f.text_area :description, required: true %>
            <%= f.label :description %>
          </div>
          <div class="input-field width-100">
            <%= f.select :service_category_id, service_categories_options,{selected: f.object.service_category_id, required: true}, class: 'material-select', required: true%>
            <%= f.label :service_category_id %>
          </div>

          <div class="input-field width-100">
            <%= f.select :available_for, service_available_for_options, {selected: f.object.available_for}, class: 'material-select'%>
            <%= f.label :available_for %>
          </div>
        </div>
        <div class="card p-4">
          <h5>Staff</h5>
          <p>Assign staff to the service and manage staff commission</p>
          <div class="divider"></div>
          <div class="input-field width-100">
            <div id=staff-options-container>
              <p>
                <label>
                  <input type="checkbox" class="filled-in" id="select_all"  />
                  <span>Select All</span>
                </label>
              </p>
              <% @staff.map do |staff|%>
                <p class="">
                  <label>
                    <input name="service[staff_ids][]"
                           type="checkbox"
                           class="filled-in staff-option"
                           value="<%= staff.id %>"
                           <%= 'checked' if  f.object.staff_ids.include?(staff.id) %>
                      />
                    <span><%= staff.name %></span>
                  </label>
                </p>
              <% end  %>
            </div>
          </div>
          <h5>Staff Commission</h5>
          <p>Calculate staff commission when the service is sold</p>
          <div class="input-field width-100">
            <div class="switch">
              <label>
                <%= f.check_box :enable_commission %>
                <span class="lever"></span>
                Enable Staff Commission
              </label>
            </div>
          </div>

          <div class="divider">
          </div>

        </div>
        <div class="card p-4">
          <h5>Pricing and Duration</h5>
          <p>Add the pricing options and duration of the service</p>
          <div>
            <%= f.fields_for :service_prices do |price| %>
              <%= render "service_price_fields", f: price %>
            <% end %>
          </div>
          <div class="m-3 flex">
            <%= link_to_add_association 'Add Option', f, :service_prices, class: 'btn' %>
          </div>
          <div class="divider"></div>
          <h5>Extra Time</h5>
          <p> Enable extra time after service </p>
          <div>
            <div class="input-field width-100">
              <div class="switch">
                <label>
                  <%= f.check_box :extra_time %>
                  <span class="lever"></span>
                  Enable Extra Time
                </label>
              </div>
            </div>
          </div>
          <div class="row <%= 'hide ' unless  f.object.extra_time? %>" id="extra_columns">
            <div class="input-field col s4">
              <%= f.label :extra_time_duration, 'Duration' %>
              <%= f.number_field :extra_time_duration %>
            </div>
            <div class="input-field col s4">
              <%= f.select :extra_time_type, extra_time_type_options, {selected: f.object.extra_time_type}, class: 'material-select' %>
              <%= f.label :extra_time_type %>
            </div>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).on('turbolinks:load', function () {
        $('select.material-select').formSelect();
        $("#select_all").change(function(){
            $("input.staff-option").prop('checked', $(this).is(":checked"))
        })
        $("#service_extra_time").change(function(){
            if($(this).is(":checked")){
                $("#extra_columns").removeClass("hide")
            }else{
                $("#extra_columns").addClass("hide")
            }
        })
        $('input.autocomplete').autocomplete({
            minLength: 0,
            data: {
                "5": null,
                "10": null,
                "15": null,
                "20": null,
                "25": null,
                "30": null,
                "35": null,
                "40": null,
                "45": null,
                "50": null,
                "55": null,
                "60": null,
                "65": null,
                "70": null,
                "75": null,
                "80": null,
                "85": null,
                "90": null,
                "95": null,
                "100": null,
                "105": null,
                "110": null,
                "115": null,
                "120": null,

            },
        });
    })
    function submitForm(){
        $("#service-form form").submit();
    }
</script>