<div class="nested-fields">
  <div class="service-price-row">
    <div class="line">
      <div class="input-field">
        <%= f.label :duration %>
        <%= f.number_field :duration %>
      </div>
      <div class="input-field">
        <%= f.select :pricing_type, options_for_select(price_type_options), {}, class: 'material-select' %>
        <%= f.label :pricing_type %>
      </div>
      <div class="input-field">
        <%= f.label :price %>
        <%= f.number_field :price %>
      </div>
      <div class="input-field">
        <%= link_to_remove_association "x", f, class: 'red-text' %>
      </div>
    </div>
    <div class="line">
      <div class="input-field name">
        <%= f.text_field :name %>
        <%= f.label :name %>
      </div>
    </div>
  </div>
</div>

<script>
    setTimeout(function () {

        $('select.material-select').formSelect();
    }, 50)

</script>