<!-- Modal Structure -->
<div id="payment_type_modal" class="modal" style="min-height: 500px;">
  <div class="modal-content">
    <h4><%= @cancellation_reason.id.present? ? 'Edit Payment Type' : 'Add Payment Type' %></h4>
    <%= form_with(model: @cancellation_reason, remote: true) do |f| %>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name %>
          <%= f.label :name %>
        </div>
      </div>
      <div class="row m-0 modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat text-red left">cancel</a>
        <% if  @cancellation_reason.id.present? %>
          <%= link_to 'Delete', cancellation_reason_path(@cancellation_reason), method: :delete , remote: true,
                      data: { confirm: "Are you sure?" },
                      class: 'btn-flat red-text waves-effect waves-red waves left' %>
        <% end  %>
        <%= f.submit :save, class: 'waves-effect waves-green btn' %>
      </div>

    <% end %>
  </div>
</div>