<li class="nested-fields nested-line">
  <div class="row collapsible-header mb-0">
    <%= f.hidden_field :sellable_type, class: 'sellable_type' %>
    <%= f.hidden_field :sellable_id, class: 'sellable_id' %>
    <%= f.hidden_field :unit_price, class: 'unit_price' %>
    <%= f.hidden_field :original_unit_price, class: 'original_unit_price' %>

    <div class="col s9">
      <p class="mb-0 checkout_text"><%= f.object.sellable&.checkout_text %></p>
      <label class="checkout_help_text"> <%= f.object.sellable&.checkout_help_text(f.object.staff) %></label>
    </div>
    <div class="col s3 ">
      <span class="right price-container">
        <span> KWD </span>
        <span class="price-span"> <%= f.object.sellable&.price %></span>
      </span>
      <br>
      <span class="right hide discounted-price-container">
        <span> KWD </span>
        <span class="discounted_price discounted-price-span"><%= f.object.sellable&.price %></span>
      </span>
    </div>
  </div>
  <div class="row collapsible-body white">


    <div class="col s2">
      <label>Quantity</label>
        <%= f.number_field :quantity , class: 'quantity',min: 1, disabled: f.object.sellable_type == 'ServicePrice' %>
    </div>

    <div class="col s5">
      <label>Staff</label>
      <%= f.select :staff_id, @staff, {selected: f.object.staff_id}, {class: 'browser-default select2'} %>
    </div>

    <div class="col s5">
      <label>Discount</label>
      <%= f.fields_for :discount_usage do |usage_f| %>
          <%= render "discount_usage_fields", f: usage_f %>
      <% end %>
      <div>
        <%= link_to_add_association 'Add discount', f, :discount_usage, class: 'btn add-discount hide', count: 1 %>
      </div>

    </div>


  </div>
  <div class="mb-2"></div>
</li>
<script>
        setTimeout(function(){

            $(".collapsible-body").each(function(){
                if ($(this).find('.discount_select').length === 0){
                    $(this).find('.add-discount').click();
                }
            })
            $('.select2').select2();
        }, 50)
</script>