<div class="form-header">
  <p></p>
  <p class="form-title"> Checkout Page </p>
  <a href="/appointments/<%= params[:appointment_id] %>">x</a>
</div>
<div class="form-wrapper" id="checkout-page">
  <%= form_with model: @invoice, html: {class: 'height-100'} do |f| %>
    <div class="row height-100">
      <div class="col s9 pink-bg p-4 height-100">
        <div class="row">
          <div class="col s8 push-s2">
            <%= f.hidden_field :location_id %>
            <%= f.hidden_field :client_id %>
            <%= hidden_field_tag 'appointment_id', params[:appointment_id] %>
            <ul class="collapsible" style="border: none; box-shadow: none">
              <%= f.fields_for :lines, f.object.lines do |line| %>
                <%= render 'line_fields', f: line %>
              <% end %>
            </ul>
            <div class="row">
              <div id="numbers" class="col s6 push-s6">
                <div class="row">
                  <div class="col s9">
                    <p>Sub Total</p>
                  </div>
                  <div class="col s3">
                    <p> <%= @invoice.sub_total %> KWD </p>
                  </div>
                </div>
                <div>
                  <%= f.fields_for :tips, f.object.tips do |tip| %>
                    <%= render 'tip_fields', f: tip %>
                  <% end %>
                  <div>
                    <%= link_to_add_association 'Add Tip', f, :tips, class: 'btn-flat' %>
                  </div>
                </div>
                <div class="row">
                  <div class="divider"></div>
                </div>
                <div>
                  <%= f.fields_for :payments, f.object.payments do |tip| %>
                    <%= render 'payment_fields', f: tip %>
                  <% end %>
                  <div>
                    <%= link_to_add_association 'Add payment', f, :payments, class: 'hide', id: 'add-payment' %>
                  </div>
                </div>
                <div class="row">
                  <div class="divider"></div>
                </div>
                <div class="row">
                  <div class="col s9">
                    <p>Balance</p>
                  </div>
                  <div class="col s3">
                    <p id="balanceValue"> <%= @invoice.balance %> KWD </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s3  p-4 white-bg ">
        <%= render "shared/appointment_client", client: @appointment.client %>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="pay" type="number" class="validate" value="<%= @invoice.total  %>">
            <label for="pay">Pay</label>
          </div>
        </div>
        <div id="payment-types-container">
          <!--          content load as ajax will replace this -->
        </div>
        <div id="payment-types-container">
          <%= f.submit :complete_sale, class: 'main-bg mb-4 p-3' %>
          <div class="payment_type secondary-bg mb-4 p-3">
            Reset Payments
          </div>
        </div>
        <div class="action">
          <!-- Dropdown Trigger -->
          <!--          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>-->

          <!--          <ul id='dropdown1' class='dropdown-content'>-->
          <!--            <li><a href="#!">Invoice Details</a></li>-->
          <!--          </ul>-->
        </div>

      </div>
    </div>
  <% end %>
</div>

<script>
    function calculateSums(){
        let totalTips = 0;
        let totalPayments = 0;
        let totalWanted = 0;
        $('.tip_field').each(function (){ totalTips += parseFloat($(this).val()) } );
        $('.amount').each(function (){ totalPayments += parseFloat($(this).val()) } );
        $('.discounted_price').each(function (){ totalWanted += parseFloat($(this).text()) } );
        let stillToPay = totalWanted - totalPayments + totalTips
        $("#pay").val(stillToPay)
        $("#balanceValue").text(stillToPay + ' KWD');
    }
    function addPayment(that){
        $('#add-payment').click();
        let paymentTypeId = parseInt($(that).attr('data'));
        let paymentTypeName = $(that).text();
        setTimeout(function(){
            $('.payment-row').last().find('.type_id').val(paymentTypeId)
            $('.payment-row').last().find('.amount').val($("#pay").val())

            $('.payment-row').last().find('.paymentTypeName').html(paymentTypeName)
            $('.payment-row').last().find('.amountValue').html($("#pay").val() + ' KWD')
            calculateSums();
        },50)

    }
    function registerEvents() {
        $("#client-details").click(function () {
            document.location.href = '/clients/<%= @appointment.client.id %>';
        })
        $('body').on( 'click', '.payment_type', function(e){ addPayment(this)})
        $('.collapsible').collapsible();
        $('.collapsible').collapsible('open', 0);
    }

    function loadPaymentTypes() {
        $.get('/payment_types.js')
    }

    $(document).on('turbolinks:load', function () {
        loadPaymentTypes();
        registerEvents();
    })
</script>