<div class="form-container">
  <div class="form-header">
    <a class="waves-effect waves-red btn-flat" href="/clients">x</a>
    <p class="form-title"> <%= @client.id ? 'Edit Client' : 'Add Client' %></p>
    <div>
      <% if @client.id.present? %>
        <%= link_to 'Delete', client_path(id: @client.id),
                    data: {:confirm => 'Are you sure?'}, class: 'waves-effect waves-red btn-flat red-text', :method => :delete %>
      <% end %>
      <a class="waves-effect waves-blue btn" onclick="submitForm();">Save</a>
    </div>

  </div>
  <div id="client-form">
    <%= form_with(model: @client, html: {class: 'height-100'}) do |f| %>
      <div class=" p-8 m-8">
        <% if @client.errors.full_messages.any? %>
          <div class="p-4">
            <p class="red-text"> Please check the following errors and Save again</p>
            <ul class="collection">
              <% @client.errors.full_messages.map do |msg| %>
                <li class="red-text collection-item"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row">
          <div class="input-field col s6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </div>
          <div class="input-field col s6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :phone %>
            <%= f.text_field :phone %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %>
            <%= f.text_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.select :notify_method, [['email', 'email']], {},{class: 'material-select'} %>
            <%= f.label :notify_method %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.select :language, [['English', 'en']], {},{class: 'material-select'} %>
            <%= f.label :language %>
          </div>
        </div>
      </div>
      <div class="left-border"></div>
      <div class=" p-8 m-8">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Personal Info</a></li>
          <li class="tab col s3"><a href="#test2">Address</a></li>
        </ul>
        <div id="test1" class="col s12 mt-4">
          <div class="row">
            <div class="col s12 ">
              <div class="row">
                <div class="input-field col s12">
                  <%= f.select :gender, gender_options, {selected: f.object.gender},{class: 'material-select'} %>
                  <%= f.label :gender %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :birthday, class: 'datepicker' %>
                  <%= f.label :birthday %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :notes %>
                  <%= f.label :notes %>
                </div>
              </div>
              <p>
                <label>
                  <input type="checkbox" name="client[global_notes]" <%= "checked" if f.object.global_notes? %> />
                  <span>Show Notes For All Appointment</span>
                </label>
              </p>
            </div>
          </div>
        </div>
        <div id="test2" class="col s12  mt-4">
          <div class="row">
            <div class="col s12 ">
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :street %>
                  <%= f.label :street %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :area %>
                  <%= f.label :area %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <%= f.text_field :block %>
                  <%= f.label :block %>
                </div>
                <div class="input-field col s6">
                  <%= f.text_field :avenue %>
                  <%= f.label :avenue %>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <%= f.text_field :building %>
                  <%= f.label :building %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    function submitForm(){
        $("#client-form form").submit();
    }
</script>