<div class="pse-4 pb-4 pt-2" >
  <table class="sticky-table white highlight">
    <thead>
    <tr>
      <th> Id </th>
      <th> placed at </th>
      <th> location </th>
      <th> supplier </th>
      <th> status </th>
      <th> total cost </th>

    </tr>
    </thead>
    <tbody>
    <% @orders.map do |order| %>
      <tr>
        <td>
          <%= link_to order.id, inventory_order_path(order.id) %>
        </td>
        <td> <%= order.created_at.strftime("%b, %d  %Y ") %> </td>
        <td> <%= order.location&.name %> </td>
        <td> <%= order.supplier&.name %> </td>
        <td> <%= order.status %> </td>
        <td> <%= order.total_cost %> </td>
        
      </tr>
    <% end %>
    </tbody>
  </table>
  <%== pagy_materialize_nav(@pagy) %>
</div>