<div class="nested-fields service-row">
  <div class="line">
    <div class="start time">
      <label>Start</label>
      <%= f.time_select :starts_at, {minute_step: 5}, {class: 'time material-select'} %>

    </div>
    <div class="selection">
      <label>Service</label>
      <%= f.grouped_collection_select  :service_price_id,
                                       @categories,
                                       :service_prices_options,
                                       :name,
                                       ->(el){el.first.id},
                                       ->(el){el.first.full_details_html},
                                       {selected: f.object.service_price_id, include_blank: true},
                                       {class: 'browser-default select2 service_price_selection'} %>

    </div>
    <div class="remove-link">
      <%= link_to_remove_association "x", f %>
    </div>
  </div>
  <div class="line">
    <div class="start">
      <label> duration </label>
      <p class="duration"></p>
    </div>
    <div class="selection">
      <%= f.label :staff_id %>
      <%= f.select :staff_id, @staff, {selected: f.object.staff_id, include_blank: true} , {class: 'browser-default select2', placeholder: 'Pick Staff'} %>
    </div>
  </div>
</div>
<!--<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>-->



<script>
    setTimeout(function () {

        $('select.material-select').formSelect();
        $('select.select2').select2();
    }, 50)

</script>