<div class="nested-fields">

  <div class="row">
    <div class="col s4 time">
      <%= f.time_select :starts_at, {minute_step: 5}, {class: 'time material-select'} %>
      <label>Start</label>
    </div>
    <div class="col s8">
      <%= f.select :service_price_id, @service_prices,{selected: f.object.service_price_id} , {class: 'browser-default select2'} %>
      <label>Service</label>
    </div>
  </div>
  <div class="row">
    <div class="col s4 ">
      <label> duration </label>
    </div>
    <div class="col s8">
      <%= f.select :staff_id, @staff, {selected: f.object.staff_id} , {class: 'browser-default select2'} %>
      <%= f.label :staff_id %>

    </div>
    <%= link_to_remove_association "x", f, class: 'waves-effect waves-light btn col push-s11' %>
  </div>
</div>
<!--<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>-->



<script>
    setTimeout(function () {
        $('.material-select').formSelect();
    }, 50)

</script>