<% url = @appointment.id ? back_appointment_path(id: @appointment.id) : back_appointments_path %>
<% method = @appointment.id ? :put : :post  %>
<%= form_with(model: @appointment, url: url, method: method)  do |f| %>
  <div class="row">
    <div id="appointment_services" class="col s9">
      <%= f.hidden_field :location_id %>
      <%= f.fields_for :appointment_services do |service| %>
        <%= render 'appointment_service_fields', f: service %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add Service', f, :appointment_services %>
      </div>
    </div>
    <div class="col s3">
      client section
    </div>
  </div>
  <%= f.submit :save %>

<% end %>