<!DOCTYPE html>
<html>
<head>
  <title>Peep</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="app-container">
    <div id=sidebar>
      <div id=logo-container>
        Peep
      </div>
      <ul>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">home</i>
          <a class="ms-2" href="/home"> Home </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">collections_bookmark</i>
          <a class="ms-2" href="/calendar"> Calendar </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">attach_money</i>
          <a class="ms-2" href="/reports/sales"> Sales </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">local_offer</i>
          <a class="ms-2" href="https://peep-staging-front.herokuapp.com/dash/offers"> Offers </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">person</i>
          <a class="ms-2" href="/clients"> Clients </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">people</i>
          <a class="ms-2" href="/staffs"> Staff </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">work</i>
          <a class="ms-2" href="/services"> Services </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">add_shopping_cart</i>
          <a class="ms-2" href="https://peep-staging-front.herokuapp.com/dash/clients"> Inventory </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">insert_chart</i>
          <a class="ms-2" href="https://peep-staging-front.herokuapp.com/dash/analytics"> Analytics </a>
        </li>
        <li class="p-3 valign-wrapper">
          <i class="Medium material-icons">settings</i>
          <a class="ms-2" href="https://peep-staging-front.herokuapp.com/dash/settings"> Settings </a>
        </li>
        <% if user_signed_in? %>
          <li class="p-3 valign-wrapper">
            <p><%= current_user.email %></p>
          </li>
          <li class="p-3 valign-wrapper">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="content-container" class="pink-bg">
      <%= yield %>
    </div>
  <script type="text/javascript" charset="utf-8">
      $(document).on('turbolinks:load', function () {
          $('select.material-select').formSelect();
          $('.dropdown-trigger').dropdown();
          $('.collapsible').collapsible();
          $('.tabs').tabs();
          $('.datepicker').datepicker({
              yearRange: 100
          });

      })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>

</body>
</html>
