<!DOCTYPE html>
<html>
<head>
  <title>Peep</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <%= stylesheet_link_tag 'forms', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div id="form-container">
  <%= yield %>
  <script type="text/javascript" charset="utf-8">
      $(document).on('turbolinks:load', function () {
          $('select.material-select').formSelect();
          $('select.select2').formSelect();
          $('.dropdown-trigger').dropdown();

      })
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</div>

</body>
</html>
